<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="dev.arcade.clipboard.mobile.ShareTargetActivity"
            android:exported="true"
            android:label="@string/mobile_share_target_label"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/uri-list" />
                <data android:mimeType="image/*" />
                <data android:mimeType="application/*" />
            </intent-filter>
        </activity>

        <activity-alias android:name="dev.arcade.clipboard.mobile.MultiShareTarget"
            android:targetActivity="dev.arcade.clipboard.mobile.ShareTargetActivity"
            android:exported="true" android:label="@string/mobile_share_target_label">
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity-alias>
        <service
            android:name="dev.arcade.clipboard.mobile.MeshClipboardIme"
            android:exported="true"
            android:label="@string/mobile_ime_label"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/mesh_clipboard_input_method" />
        </service>
        <provider android:name="dev.arcade.clipboard.mobile.SharedContentProvider"
            android:authorities="${applicationId}.shared-content"
            android:exported="false" android:grantUriPermissions="true" />
    </application>
</manifest>
